@font-face {
  font-family: GentiumPlusW;
  src: url(../../fonts/GentiumPlus-R.woff);
}

html {
  height: 100%;
}

body {
  font-family: GentiumPlusW;
  margin: 0;
  height: 100%;
  background-color: #333;
  text-align: center;
  font-size: 12vmin;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  /* No text selection */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

h1  {
  color: rgb(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  margin: 0;
  pointer-events: none
}

.board {
  position: relative;
  height: 100%;
  background-color: #000;
}


.tile,
.tile-set {
  position: relative;
}

.tile {
  width: fit-content;
}

span.string {
  display: inline-block;

  width: 1.3333em;
  height: 1.3333em;
  font-size: 0.75em;
  text-align: center;
  line-height: 1em;

  background-color: #ffe;
  border-top: 0.1em solid #eed;
  border-bottom: 0.1em solid #bba;
  padding-left: 0.1em;
  padding-right: 0.1em;
}

span.plain:first-child {
  /*text-align: right;*/
  padding-left: 0;
  border-left: 0.1em solid #ddc;
  border-top-left-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
}

span.plain:last-child {
  /*text-align: left;*/
  padding-right: 0;
  border-right: 0.1em solid #ccb;
  border-top-right-radius: 0.1em;
  border-bottom-right-radius: 0.1em;
}

.tile-set {
  position: absolute;
  display: flex;
  cursor: pointer;
}

.phoneme {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.125em;
  min-width: 1em;
  height: 1.1em;
  font-size: 0.5em;
  color: #990;

  background-color: rgba(238, 238, 204, 0.5);
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  /*border-bottom-right-radius: 0.5em;*/
  line-height: 0.9em;
}

.faint {
  opacity: 0.2;
}

.divider {
  position: absolute;

  top: .134em;  /* Needed because of an issue with GentiumW font */
  width: 0.2em;
  height: 1.324em;

  background: repeating-linear-gradient(
    to right,
    #eec,
    #eec 1px,
    #ddb 1px,
    #ddb 2px
  );
}

.placements {
  position: absolute;
  top: 25vh;
  height: 25vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  background-color: rgb(255, 255, 255, 0.1); 
}

.placements div {
  height: 5%;
  border: 0.02em solid #ff0;
  border-top: none;
}