@font-face {
  font-family: GentiumPlusW;
  src: url(../fonts/GentiumPlus-R.woff);
}

html {
  height: 100%;
}

body {
  font-family: GentiumPlusW;
  margin: 0;
  height: 100%;
  background-color: #000;
  text-align: center;
}

h1  {
  color: rgb(255, 0, 0, 0.33);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.board {
  height: 100%;
}

.tile,
.tile-set {
  position: relative;
}

.tile {
  width: fit-content;
}

span.string {
  display: inline-block;

  width: 12vmin;
  height: 12vmin;
  font-size: 11.5vmin;
  text-align: center;
  line-height: 11vmin;

  background-color: #ffe;
  border-top: 1vmin solid #eed;
  border-bottom: 1vmin solid #bba;
  padding-left: 1vmin;
  padding-right: 1vmin;
}

span.plain:first-child {
  /*text-align: right;*/
  padding-left: 0;
  border-left: 1vmin solid #ddc;
  border-top-left-radius: 1vmin;
  border-bottom-left-radius: 1vmin;
}

span.plain:last-child {
  /*text-align: left;*/
  padding-right: 0;
  border-right: 1vmin solid #ccb;
  border-top-right-radius: 1vmin;
  border-bottom-right-radius: 1vmin;
}

.tile-set {
  display: flex;
}

.phoneme {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 5vmin;
  height: 5vmin;
  font-size: 4vmin;
  text-align: center;
  color: #990;

  background-color: rgba(238, 238, 204, 0.5);
  border-bottom-right-radius: 1vmin;
}

.faint {
  opacity: 0.2;
}

.phoneme {
  margin: 4px;
}

.divider {
  position: absolute;
  top: 0;
  width: 2vmin;
  height: 14vmin;
  background: repeating-linear-gradient(
    to right,
    #eec,
    #eec 1px,
    #ddb 1px,
    #ddb 2px
  );
}